SUPABASE_URL=https://sqkkqonqpgdklztrkvsb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxa2txb25xcGdka2x6dHJrdnNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NzAyODUsImV4cCI6MjA5NTI0NjI4NX0.Visw45HnysmjLxT51l3DnPzp_YoqQAtahh1r07qedso
GITHUB_TOKEN=your-github-personal-access-token
CLERK_DOMAIN=settling-cowbird-13.clerk.accounts.dev
CLERK_SECRET_KEY=sk_test_FnTOvbNRcd5PILocf5aJJojyyAJ26vJbwgDtYEwmir
HOST=0.0.0.0
PORT=8000
